<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/js/vue.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Sorteador</title>
</head>
<body>
    <div id="app">
        <img src="assets/img/jr3.png" >
        <input type="text" v-model="nome">
        <label >
            <button @click="add">Add</button>
            <button @click="sort">Sortear</button>
        </label>
    
        <div id="winner">Ganhador: </div>

        <ul>
            <li v-for="item in lista"> {{ item }} </li>
        </ul>

    </div>

    <script src="assets/js/script.js"></script>
</body>
</html>